/* A Free Design by Bryant Smith (bryantsmith.com) */

html, body {
    text-align: center;
}

p {
    text-align: left;
}

/*Button Markup CSS*/

.button {        
    display: inline-block;
    white-space: nowrap;
    background-color: #ccc;
    background-image: linear-gradient(top, #eee, #ccc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
    border: 1px solid #777;
    padding: 0 1.5em;
    margin: 0.5em;
    font: bold 1em/2em Arial, Helvetica;
    text-decoration: none;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    border-radius: .2em;
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

.button:hover {
    background-color: #ddd;        
    background-image: linear-gradient(top, #fafafa, #ddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');        
}

.button:active {
    box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    position: relative;
    top: 1px;
}

.button:focus {
    outline: 0;
    background: #fafafa;
}    

.button:before {
    background: #ccc;
    background: rgba(0,0,0,.1);
    float: left;        
    width: 1em;
    text-align: center;
    font-size: 1.5em;
    margin: 0 1em 0 -1em;
    padding: 0 .2em;
    box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    border-radius: .15em 0 0 .15em;
    pointer-events: none;        
}

/* Hexadecimal entities for the icons */

.add:before {
    content: "\271A";
}

.edit:before {
    content: "\270E";        
}

.delete:before {
    content: "\2718";        
}

.save:before {
    content: "\2714";        
}

.email:before {
    content: "\2709";        
}

.like:before {
    content: "\2764";        
}

.next:before {
    content: "\279C";
}

.star:before {
    content: "\2605";
}

.spark:before {
    content: "\2737";
}

.play:before {
    content: "\25B6";
}

/*Button Markup ended*/


.BigButton {
    background-color: green;
    border: 1px solid darkgreen;
    padding: 7px 25px;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    float: left;
}

    .BigButton:hover {
        background-color: white;
        border: 1px solid darkgreen;
        padding: 7px 25px;
        border-radius: 35px;
        color: darkgreen;
        cursor: pointer;
    }


body {
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    text-align: left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #000000;
    background-image: url(background.png);
    background-repeat: repeat-x;
}

* {
    margin: 0 auto 0 auto;
    text-align: left;
    
}


#header {
    background-image: url(tab.png);
    background-repeat: no-repeat;
    height: 100px;
    width: 427px;
    margin-left: 42px;
    margin-top: 88px;
    padding-top: 18px;
}

    #header .logo {
        height: 72px;
        width: 72px;
        background-image: url(logo2.png); /*//there are 5 different logos (logo1.png, logo2.png ...)*/
        background-repeat: no-repeat;
        float: left;
        margin-left: 23px;
    }

    #header h1 {
        margin-left: 15px;
        margin-top: 10px;
        position: relative;
        float: left;
        color: #3D4130;
        text-align: left;
        font-size: 34px;
        width: 302px;
        line-height: normal;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    #header h2 {
        position: relative;
        margin-left: 10px;
        margin-top: 2px;
        float: left;
        color: #CCCF76;
        text-align: left;
        font-size: 14px;
        width: 311px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }



#bottomContent {
    clear: both;
    position: relative;
    height: 100%;
    margin-top: 73px;
    margin-left: 50px;
    width: 1250px;
}

    #bottomContent .navColumn {
        margin-left: 0px;
        width: 419px;
        background-image: url(repeatBackNavAlpha.png);
        background-repeat: repeat-y;
        float: left;
    }

        #bottomContent .navColumn .overview {
            width: 350px;
            padding: 5px;
            /*background-color:#F9FAF5;*/
            /*border:dashed 2px;*/
            border-color: #EAECC7;
            margin-top: 10px;
        }


        #bottomContent .navColumn .link {
            width: 369px;
            height: 65px;
            line-height: 65px;
            font: Arial, Helvetica, sans-serif;
            font-size: 20px;
            background-image: url(arrow_link_background.png);
            background-repeat: no-repeat;
            padding-left: 50px;
        }

            #bottomContent .navColumn .link:hover {
                background-image: url(rollover_back65.png);
                background-repeat: no-repeat;
            }

a {
    color: blue; /*#777B2B;*/
    text-decoration: none;
}

    a:hover {
        color: #CACE73;
        text-decoration: none;
        border-bottom: dotted 1px;
    }


#bottomContent .contentColumn {
    float: left;
    margin-left: 0px;
    width: 550px;
}

#bottomContent .contentColumnAuth {
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.contentTop {
    width: 519px;
    height: 29px;
    background-repeat: no-repeat;
    background-image: url(contentBoxTop.png);
}

.contentBottom {
    width: 519px;
    height: 29px;
    background-repeat: no-repeat;
    background-image: url(contentBoxBottom.png);
    margin-bottom: 15px;
}


.contentMain {
    width: 489px;
    height: auto;
    background-repeat: no-repeat;
    background-image: url(contentBoxBack.png);
    background-repeat: repeat-y;
    padding-left: 18px;
    padding-right: 12px;
}

    .contentMain h1 {
        margin-left: 21px;
        font-size: 21px;
        line-height: normal;
        margin-bottom: 10px;
        font-weight: bold;
        color: #071027;
    }


.comments {
    font-size: 11px;
    font-style: italic;
    padding: 10px;
    margin-left: 25px;
}


#bottomContent #navBottom {
    clear: both;
    width: 419px;
    height: 20px;
    background-image: url(tab_bottom.png);
    background-repeat: no-repeat;
    float: left;
}

.contentTitle {
    width: 700px;
    height: 44px;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    background-image: url(tab_back.png);
    background-repeat: no-repeat;
}

    .contentTitle h1 {
        margin-left: 21px;
        padding-top: 8px;
        font-size: 17px;
        font-weight: bold;
        color: #071027;
    }


.contentText {
    width: 680px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 13px;
    color: #030712;
    line-height: 30px;
}


#footer {
    width: 750px;
    height: 49px;
    background: url(footer.png) no-repeat;
    text-align: center;
    font-size: 9px;
    color: #223F8D;
    padding-top: 36px;
    bottom: inherit;
}

h4 {
    color: #777B2B;
    font-size: 9px;
    text-align: center;
}

html, body {
    text-align: center;
}

p {
    text-align: left;
}
